@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif ;
}
:root {
    --bg-color: white ;
    --text-color:black;
    --main-color: #084858;
}
html{
    font-size: 62.6%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color:var(--text-color);
    
   
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
     z-index: 100;
}
.Suyaa1{
    font-size: 2.5rem ;
    color: black;
    font-weight: 600;

}
.icons a {
    font-size: 1.7rem;
    color: black;
    font-weight: 500;
    margin-left: 3.5rem;
}
.img img {
    border-radius: 50%;
    width: 30%;
    height: 30%;
    margin-left: 70%;
    margin-top: -20%;
    position: relative ;

   
}
.icons a:hover ,
.icons a.j1{
    color:aqua;
}
.container{
    width: 246px;
    overflow: hidden;
    margin-left: 0%;
    margin-top: 10%;
}
.container .text{
    position: relative;
    color: aqua;
    font-size: 30px;
    font-weight: 600;
}
.container .text.first-text{
    color:black;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-left: 1px solid aqua;
    animation: animate 2s steps(12) infinite;
}
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem ;
    margin-left: 0%;
    margin-bottom: 70%;
}
.btn-box .btn {
    position: relative;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem ;
    height: 100% ;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;

}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}
.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
span{
    color: var(--main-color);

}

.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);

}
.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);

}

.about-content{

text-align: center;
}
.about-content h2 {
    font-size: 6.6rem;
}
.about-content h4 {
    font-size: 6.6rem;
}
.about-content p  {
    font-size: 2.6rem;
    margin: 2rem 0 3rem;

}
.about-content ul {
    font-size: 2.6rem;
    margin: 2rem 0 3rem;

}
.internships p {
font-size: 1.6rem
}
.contact-content p{
    font-size: 1.8rem;
}
.contact-content ul {
    font-size: 1.6rem;
}
@media only screen and (max-width: 768px) {
    
    .btn-box .connect {
        width: 100%;
        max-width: 400px;
    }

}

@media only screen and (max-width: 480px) {
    
    .btn-box
    {
        width: 40%;
        height: 40%;
        
        
    } 
    .connect {
        width: 100%;
        max-width: 300px;
    }
    .home-social{
        height:2%;
      
    }

    
}
